/* CSS Reset Rule */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root Section */
:root {
    /* Color Scheme */
    --color-white: white;
    --color-black: black;
    --color-blue: #0061ff; 

    /* Header */
    --header-bg: #b4d0e7;

    /* Grid Companies Section */
    --designit-bg: #a2d39b;
    --designit-bd: #d1e9cd;
    --asu-bg: #61082b;
    --uf-florida-bg: #0093ce;
    --topps-bg: #ff1c1c;
    --designit-x2-bg: #f5f5f5;
    --world-byc-bg: #d5001f;
    --hearst-bg: #b4d0e7;
    --lonely-pl-bg: #0d2481;
    --clear-channel-bg: #ffd830;
    --take-agency: #b4d0e7;

    /* Footer */
    --footer-bg: #000000;

    /* General Measuraments */

    /* Google Fonts */
}

/* --- CSS Page Style Begin --- */

/* General Tags */
body {
    font-family: 'Open Sans', sans-serif;
}

html {
    /* Forced All Browsers to 16px reset */
    font-size: 16px;
}

li, a, span {
    list-style: none;
    text-decoration: none;
    display: block;
}

button {
    border: none;
    outline-color: transparent;
}

.temp-border {
    border: 1px dashed red;
}

    /* Declarations of what displaying */
    .flex {
        display: flex;
    }

    .grid {
        display: grid;
    }

    .align-center {
        justify-content: center;
        align-items: center;    
    }

    .btn {
        background-color: var(--color-blue);
        color: var(--color-white);
    }

    .main-content-space {
        margin: 0 auto;
        width: 65%;
    }

    .spc-btw-content {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

/* Header Section */

/* Navigation Bar */
.navigation-bar {
    position: sticky;
    top: 0;
    width: 100%;
    /* height: 100px; */
    background-color: var(--color-white);
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.nav-left-wrapper,
.nav-right-wrapper {
    padding: 0.2rem;
}

.nav-links-left,
.nav-links-right {
    align-items: center;
}
    .nav-links-left {
        margin-left: 2rem;
    }
    .nav-links-right{
        margin-right: 2rem;
    }
    .nav-links {
        gap: 3rem;
    }

.btn-start {
    padding: 0.5rem 1rem;
}

/* Hero */
.hero {
    width: 100%;
    height: calc(800px);
    background-color: var(--header-bg);
    padding: 5rem 0 0;
}

.hero-wrapper {
    height: 100%;
}

/* Hero Grid Template */
.hero-grid-container {
    height: 100%;
    grid-template-columns: 1fr 1.5fr repeat(4, 1fr); 
    grid-template-rows: repeat(3, 1fr) 0.4fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    .hero-title { 
        grid-area: 1 / 2 / 2 / 6; 
    }
    .hero-info { 
        grid-area: 2 / 2 / 4 / 3; 
    }
    .hero-img { 
        grid-area: 2 / 3 / 5 / 6; 
    }


/* Main Content */
.main-content {
    padding: 2rem 0;
}


/* Plan Products */
.purchase-plans {
}

.plans-wrapper {
    width: 100%;
    gap: 5rem;
}

.product {
    height: 800px;
    width: calc(100% / 3);
}

.product-enterprise {
    width: 100%;
    height: 300px;
}

/* Contact Section */
.contact-form {
    margin-top: 4rem;
    height: 600px;
}

.contact-img {
    height: 100%;
    width: 60%;
}

.contact-info {
    width: 40%;
    height: 100%;
}

/* Aricle Operations Section */
.articles-about-row {
    height: 500px;
    gap: 5rem;
}

.article-info {
    height: 100%;
    width: calc(100% / 3);
}

/* Teams Display Section */
.team-dpl-section {
    width: 100%;
}

/* Team Display Grid */
.team-grid-template {
    height: calc(100vw / 3);
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color: var(--color-white);
    }
    
    .team-item1 { 
        grid-area: 1 / 1 / 2 / 2; 
        background-color: var(--designit-bg);
    }
    .team-item2 { 
        grid-area: 1 / 2 / 2 / 3; 
        background-color: var(--asu-bg);
    }
    .team-item3 { 
        grid-area: 2 / 1 / 3 / 2; 
        background-color: var(--uf-florida-bg);
    }
    .team-item4 { 
        grid-area: 2 / 2 / 3 / 3;
        background-color: var(--topps-bg); 
    }
    .team-item5 {
        grid-area: 1 / 3 / 3 / 5; 
        background-color: var(--designit-x2-bg);
    }
    .team-item6 { 
        grid-area: 1 / 5 / 2 / 6;
        background-color: var(--world-byc-bg); 
    }
    .team-item7 { 
        grid-area: 1 / 6 / 2 / 7; 
        background-color: var(--hearst-bg);
    }
    .team-item8 { 
        grid-area: 2 / 5 / 3 / 6; 
        background-color: var(--lonely-pl-bg);
    }
    .team-item9 { 
        grid-area: 2 / 6 / 3 / 7;
        background-color: var(--clear-channel-bg); 
    } 

.free-trial-wrapper {
    width: 100%;
    height: 300px;
    background-color: var(--header-bg);
}

/* Frequent questions[QaA] Section */
.qaa-section {
    height: 700px;
    width: 100%;
}

/* Footer Content */
.footer {
    background-color: var(--footer-bg);
    color: var(--color-white);
}

.footer-links {
    height: 300px;
    flex-direction: column;
}