/* CSS Reset Rule */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px dashed red;
}

/* Root Section */
:root {
    /* Color Scheme */
    --color-white: white;
    --color-black: black;
    --color-blue: #0061ff; 
    --color-violet: #5f052a;
    --color-lgrey: lightgrey;

    /* Header */
    --header-bg: #b4d0e7;

    /* Grid Companies Section */
    --designit-bg: #a2d39b;
    --designit-bd: #d1e9cd;
    --asu-bg: #61082b;
    --uf-florida-bg: #0093ce;
    --topps-bg: #ff1c1c;
    --designit-x2-bg: #f5f5f5;
    --world-byc-bg: #d5001f;
    --hearst-bg: #b4d0e7;
    --lonely-pl-bg: #0d2481;
    --clear-channel-bg: #ffd830;
    --take-agency: #b4d0e7;

    /* Footer */
    --footer-bg: #000000;
}

/* --- CSS Page Style Begin --- */

/* General Tags */
body {
    font-family: 'Open Sans', sans-serif;
}

html {
    /* Forced All Browsers to 16px reset */
    font-size: 16px;
}

li, a, span {
    list-style: none;
    text-decoration: none;
    display: block;
}

img {
    display: block;
    width: 100%;
}

button {
    border: none;
    outline-color: transparent;
    cursor: pointer;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
}

hr {
    width: 20%;
    border: 1px solid lightgray;
    margin: 3rem 0;
}

h1 {
    font-size: 6rem;
}

h3 {
    font-size: 2.8rem;
    font-weight: 700;
}

h4 {
    font-size: 1.8rem;
}

h6 {
    font-size: 1rem;
    margin-bottom: 2.5rem;
}

.list-item > i {
    margin-right: 0.5rem;
    line-height: 22px;
}

    /* Declarations of what displaying */
    .flex {
        display: flex;
    }

    .grid {
        display: grid;
    }

    .align-center {
        justify-content: center;
        align-items: center;    
    }

    .btn {
        padding: 0.8rem 0;
        font-size: 0.95rem;
        letter-spacing: 0.5px;
    }
        .btn-blue {
            background-color: var(--color-blue);
            color: var(--color-white);  
        }
        .btn-transparent {
            border: 1px solid black;
            background-color: var(--color-white);
            color: var(--color-black);
            font-weight: 300;
            font-size: 1.2rem; 
            margin-top: 3rem;
            padding: 0.8rem 2rem; 
        }
    
    .header-content-space {
        margin: 0 auto;
        width: 75%;
        max-width: 1400px;
    }

    .main-content-space,
    .footer-content-space {
        margin: 0 auto;
        width: 60%;
        max-width: 1200px;
    }

    .spc-btw-content {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

/* Header Section */

/* Navigation Bar */
.navigation-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    background-color: var(--color-white);
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 0 2px 6px lightgrey;
}

.nav-left-wrapper,
.nav-right-wrapper {
    padding: 0.2rem;
}

.nav-links-left,
.nav-links-right {
    align-items: center;
}
    .nav-links-left {
        margin-left: 2rem;
    }
    .nav-links-right{
        margin-right: 2rem;
    }
    .nav-links {
        gap: 3rem;
    }

.btn-start {
    padding: 0.5rem 1rem;
}

/* Hero */
.hero {
    width: 100%;
    background-color: var(--header-bg);
    padding: 8rem 0 0;
}

.hero-wrapper {
    flex-direction: column;
}
    .hero-title {
        width: 100%;
    }

.hero-container {
    position: relative;
    top: 5rem;
}
    .hero-info {
        width: 35%;
    }
        .hero-info > p {
            line-height: 2rem;
            font-size: 1.15rem;
            font-weight: medium;
        }
        .hero-info > button {
            margin-top: 2rem;
            padding: 0.8rem 2rem;
            letter-spacing: 0.05rem;
            font-size: 1rem;
            font-weight: 200;
        }
        .hero-info > span {
            margin-top: 2rem;
            font-size: 1.1rem;
            font-weight: medium;
        }
        .hero-info > i {
            margin-top: 4rem;
            font-size: 4rem;
        }
    .hero-img {
        width: 65%;
    }

/* Hero Grid Template */

/* Main Content */
.main-content {
    padding: 2rem 0;
}


/* Plan Products */
.purchase-plans {
    margin-top: 5rem;
}

.input-wrapper {
    margin-top: 4rem;
}
    .form-input-radio > input[type="radio"]:nth-child(3) {
        gap: 2rem;
        margin-left: 2rem;
    }

.plans-wrapper {
    width: 100%;
    gap: 3.5rem;
}

.product {
    width: calc(100% / 3);
    border: 2px solid lightgrey;
    flex-direction: column;
}
    .plan-content-wrapper {
        padding: 0 2.5rem;
    }
    .plan-user-tag {
        width: 100%;
        border-bottom: 2px solid lightgrey;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        padding: 0.6rem 0;
    }
    .general-infos {
        margin-top: 2rem;
    }
        .plan-title {
            margin-bottom: 1.2rem;
        }
        .plan-price {
            font-weight: bold;
            margin-bottom: 0.8rem;
        }
        .plan-timing{
            color: gray;
        }
    .plan-product-list {
        margin-top: 4rem;
    }
        .list-item {
            align-items: flex-start;
        }
        .plan-product-list > ul > li {
            margin-bottom: 1.5rem;
            font-weight: 400;
        }
    .plan-purchase-actions {
        margin-top: 4rem;
    }
        .btn-purchase,
        .btn-ctm-contact {
            width: 100%;
        }
        .instant-purchase {
            margin-top: 2rem;
            gap: 0.5rem;
        }
        .instant-purchase > a {
            text-decoration: underline;
            color: var(--color-blue);
        }
    .plan-pros-cons {
        margin-bottom: 5rem;
    }
        .plan-pros-cons > ul > li {
            margin-bottom: 1.5rem;
            font-weight: 400;
        }
        .plan-pros-cons > ul > li > i {
            color: var(--color-blue);
            font-weight: 800;
        }
    

.product-plan-custom {
    width: 100%;
    border: 2px solid lightgrey;
    flex-direction: column;
}
    .plan-custom-wrapper {
        justify-content: space-between;
        align-items: flex-start;
        padding: 2rem;
    }
    .product-plan-custom > p {
        width: 60%;
        padding: 0 2rem 2rem;
    }

/* TO DO Da riguardare */
.btn-wrapper-contact {
    width: 20rem;
}

/* Contact Section */
.contact-form {
    margin-top: 4rem;
}

.contact-img {
    height: 100%;
    width: 60%;
    object-fit: cover;
}

.contact-info {
    width: 40%;
    padding: 5rem 3rem;
}
    .contact-info > p {
        margin-top: 2rem;
        line-height: 1.8rem;
        font-size: 1.1rem;
        font-weight: medium;
    }

/* Aricle Operations Section */
.articles-about-row {
    margin-top: 4rem;
    gap: 3.5rem;
}

.article-info {
    height: 100%;
    width: calc(100% / 3);
}
    .article-info > p {
        line-height: 1.5rem;
        font-size: 1.08rem;
        font-weight: lighter;
        margin-top: 2.2rem;
    }

/* Teams Display Section */
.team-dpl-section {
    width: 100%;
}
.teams-info-wrapper {
    margin-bottom: 10rem;
}
    .teams-info-wrapper > h3 {
        margin-bottom: 4rem;
        width: 60%;
    }
    .link-clients-about > a {
        text-decoration: underline;
        color: var(--color-blue);
        font-size: large;
    }

/* Team Display Grid */
.team-grid-template {
    height: calc(100vw / 3);
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color: var(--color-white);
    }

    .team-item > img {
        filter: invert(100%);
        width: 50%;
    }
    
    .grid1 { 
        grid-area: 1 / 1 / 2 / 2; 
        background-color: var(--designit-bg);
        border: 15px solid var(--designit-bd);
    }
    .grid2 { 
        grid-area: 1 / 2 / 2 / 3; 
        background-color: var(--asu-bg);
    }
    .grid3 { 
        grid-area: 2 / 1 / 3 / 2; 
        background-color: var(--uf-florida-bg);
    }
    .grid4 { 
        grid-area: 2 / 2 / 3 / 3;
        background-color: var(--topps-bg); 
    }
    .grid5 {
        grid-area: 1 / 3 / 3 / 5; 
        background-color: var(--designit-x2-bg);
        padding: 3rem;
        flex-direction: column;
        color: var(--color-black);
        line-height: 1.5rem;
    }
        .team-item:nth-child(5) > img {
            filter: invert(0%);
            align-items: flex-start;
        }
        .team-item:nth-child(5) > span {
            margin-top: 3rem;
        }
    
    .grid6 { 
        grid-area: 1 / 5 / 2 / 6;
        background-color: var(--world-byc-bg); 
    }
    .grid7 { 
        grid-area: 1 / 6 / 2 / 7; 
        background-color: var(--hearst-bg);
    }
    .grid8 { 
        grid-area: 2 / 5 / 3 / 6; 
        background-color: var(--lonely-pl-bg);
    }
    .grid9 { 
        grid-area: 2 / 6 / 3 / 7;
        background-color: var(--clear-channel-bg); 
    } 

.free-trial-section {
    width: 100%;
    padding: 10rem 0;
    background-color: var(--header-bg);
}
    .free-trial-wrapper {
        justify-content: space-between;
        align-items: flex-start;
    }
    .free-trial-title {
        width: 50%;
        color: var(--color-violet);
    }
    /* TO DO Da rivedere */
    .free-trial-btn {
        background-color: var(--designit-x2-bg);
        width: 20rem;
    }

/* Frequent questions[QaA] Section */
.qaa-section {
    height: 700px;
    width: 100%;
}

/* Footer Content */
.footer {
    background-color: var(--footer-bg);
    color: var(--color-white);
}
.footer-top {
    /*  */
}
    .footer-links {
        height: 300px;
        flex-direction: column;
        flex: 1 1 20%;
    }