/* CSS Reset Rule */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root Section */
:root {
    /* Color Scheme */
    --color-white: white;
    --color-black: black;
    --color-blue: #0061ff; 

    /* Header */
    --header-bg: #b4d0e7;

    /* Grid Companies Section */
    --designit-bg: #a2d39b;
    --designit-bd: #d1e9cd;
    --asu-bg: #61082b;
    --uf-florida-bg: #0093ce;
    --topps-bg: #ff1c1c;
    --designit-x2-bg: #f5f5f5;
    --world-byc-bg: #d5001f;
    --hearst-bg: #b4d0e7;
    --lonely-pl-bg: #0d2481;
    --clear-channel-bg: #ffd830;
    --take-agency: #b4d0e7;

    /* Footer */
    --footer-bg: #000000;

    /* General Measuraments */

    /* Google Fonts */
}

/* --- CSS Page Style Begin --- */

/* General Tags */
body {
    font-family: 'Open Sans', sans-serif;
}

html {
    /* Forced All Browsers to 16px reset */
    font-size: 16px;
}

li, a, span {
    list-style: none;
    text-decoration: none;
    display: block;
}

button {
    border: none;
    outline-color: transparent;
}

.temp-border {
    border: 1px dashed red;
}

    /* Declarations of what displaying */
    .flex {
        display: flex;
    }

    .grid {
        display: grid;
    }

    .btn {
        background-color: var(--color-blue);
        color: var(--color-white);
    }
    .hero-page-space {
        margin: 0 auto;
        width: 80%;
    }
    .main-content-space {
        margin: 0 auto;
        width: 70%;
    }

/* Header Section */
.navigation-bar {
    position: sticky;
    top: 0;
    width: 100%;
    /* height: 100px; */
    background-color: var(--color-white);
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.nav-left-wrapper,
.nav-right-wrapper {
    padding: 0.2rem;
}

.nav-links-left,
.nav-links-right {
    align-items: center;
}
    .nav-links-left {
        margin-left: 2rem;
    }
    .nav-links-right{
        margin-right: 2rem;
    }
    .nav-links {
        gap: 3rem;
    }

.btn-start {
    padding: 0.5rem 1rem;
}

.hero {
    width: 100%;
    height: calc(800px);
    background-color: var(--header-bg);
}
